.box {
  position: relative;
  padding: 1em 1em 1em;
  border: 1px solid #d8d8d8;
  margin: 1.5rem 0 0;
}

.box::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: smaller;
  font-weight: 500;
}

.box::after {
  clear: both;
  content: " ";
  display: table;
}

.panel-box {
  position: relative;
  padding: 1em 1em 1em;
  margin: 1.5rem 0 0;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
}
